.color{
    background-color: rgb(57, 221, 250);
   width: 450px;
   height: 450px;
}
.heading{
   color: black;
  
}
#error{
    color: red;
    margin-left: 500px;
    margin-right: 500px;
}
.margin{
    margin-left: 500px;
    margin-right: 500px;
}